absl-py==1.4.0
anyio==3.7.0
asgiref==3.6.0
astunparse==1.6.3
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
fastapi==0.95.2
flatbuffers==23.5.26
gast==0.4.0
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
h11==0.14.0
h5py==3.8.0
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
keras
libclang==16.0.0
Markdown==3.4.3
MarkupSafe==2.1.2
ml-dtypes==0.1.0
nltk==3.8.1
numpy
oauthlib
opencv-python
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pydantic
pyngrok
PyYAML
regex
requests
requests-oauthlib
rsa
scipy
shutup
six
sniffio
sqlparse
starlette
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tqdm
typing_extensions
tzdata
urllib3
uvicorn
websockets
Werkzeug
wrapt
